body {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    text-align: center;
}

.container {
    background-color: #390F41;
    margin: auto;
    color: white;
    width: 1200px;
    border-radius: 7px;
    overflow: hidden;
    padding: 1rem;
}


.header-title {
    color: #FCB623;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.box-interna{
    background-color: #541B5E;
    padding: 1rem;
}